.leaveReviews {
  margin: 30px auto;
  color: #313638;
  max-width: 1000px;
  min-width: 500px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
}
.leaveReview .product__rating {
  justify-content: center;
}
.leaveReview {
  height: 100%;

  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaveReview__left {
  text-align: center;
  flex: 0.3 1;
  word-break: break-word;
  margin: 10px;
}
.leaveReview__right {
  border-left: 2px solid #f0c14b;
  word-break: break-word;
  padding-left: 30px;
  flex: 0.7 1;
}
.leaveReview__right-title {
  margin: 0 0 20px;
  font-size: 30px;
}

.leaveReview__left-time,
.leaveReview__left-name {
  font-size: 25px;
  margin: 5px 0;
  font-weight: bold;
}
.leaveReview__right-review {
  font-size: 25px;
}
@media (max-width: 500px) {
  .leaveReview {
    flex-direction: column;
    justify-content: start;
  }
  .leaveReview__right {
    border-left: none;

    padding-left: 0;
  }
  .leaveReview__left {
    text-align: left;

  }
  .leaveReview .product__rating {
    justify-content: left;
  }
}
