body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e3e6e6;
  overflow-x: hidden;
}
body svg {
  cursor: pointer;
}
.app {
  width: 100%;
}
.overlay {
  opacity: 0.7;
  pointer-events: none;
  inset: 0px;
  z-index: 25;
}
