.checkout__ad {
  width: 100%;
  min-height: 100px;
  object-fit: cover;
}
.checkout {
  display: flex;

  background-color: white;
}
@media (max-width: 1000px) {
  .checkout {
    flex-direction: column;
  }
  .subtotal {
    margin: 0 auto;
  }
}
.checkout__title {
  margin: 0 10px;
}
