.checkoutProduct {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  grid-template-columns: repeat(4, 1fr);

  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid #f0c14b;
  margin: 10px;
}
.checkoutProduct__priceAmount {
  font-size: 20px;
  margin: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.checkoutProduct__amount {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .checkoutProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px auto;
  }
  .checkoutProduct__buttons {
    flex-direction: row !important;
  }
  .checkoutProduct__description {
    display: none;
  }
}
.checkoutProduct__price-one {
  color: rgb(56, 56, 56);
}
.checkoutProduct img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.checkoutProduct__description {
  margin: 0;
}
.checkoutProduct__info {
  grid-column: 2/5;
}
.checkoutProduct__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.checkoutProduct__title-icon {
  cursor: pointer;
}
.checkoutProduct__buttons {
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.checkoutProduct__buttons > button {
  background: #f0c14b;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct__buttons > button:hover {
  cursor: pointer;
  background: #e9b123;
}
