.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__data {
  color: #1a98ff;
  font-size: 18px;
  font-weight: 700;
}
.order__id {
  position: absolute;
  top: 0px;
  color: #1a98ff;
  font-size: 18px;
  font-weight: 700;
  right: 10px;
  top: 5px;
  margin: 0;
}
.oder__allItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.order__total {
  font-weight: 500;
  text-align: center;
}
.order .checkoutProduct {
  border: none;
}
@media (max-width: 800px) {
  .order {
    padding: 5px;
  }
}
