.sidebar {
  position: fixed;
  border-left: 3px solid #f0c14b;
  background-color: #e9eceb;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 500px;
  min-width: 300px;
  z-index: 101;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sidebar__close {
  text-align: start;
  margin-top: 15px;
  margin-left: 15px;
}
.sidebar__subtotal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
